<html>

<head>
  <title>404</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/images/icon" />
</head>

<body>
  {{>header}}
  <section class="not-found-wrpr">
    <img width="300px" src="https://img.freepik.com/premium-vector/vector-error-404-concept-illustration_588331-154.jpg"
      alt="404img" />
    <p class="not-found-desc">!! {{desc}} !!</p>
  </section>
  {{>footer}}
</body>

</html>