<html>

<head>
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/images/icon" />
</head>

<body>
  {{>header}}
  <section class="about-wrpr">
    <img class="about-img"
      src="https://st3.depositphotos.com/1068591/32964/v/450/depositphotos_329645172-stock-illustration-hand-drawn-brocken-robot-isolated.jpg"
      alt="robot-img" width="250px" />
    <p id="author">Author : {{name}}</p>
  </section>
  {{>footer}}
</body>

</html>