<html>

<head>
  <title>Help & Support</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/images/icon" />
</head>

<body>
  {{>header}}
  <section>
    <p>{{message}}</p>
    <img class="help-img" src="https://lionsprint.in/wp-content/uploads/2022/07/Support-3.png" alt="help-img"
      width="500px" />
  </section>
  {{>footer}}
</body>

</html>