<footer class="footer-sec-wrpr">
  <div class="footer-desc">Created in Node.js & Express.js</div>
  <div>
    <a id="nodeLink" href="https://nodejs.org/en" target="_blank">Node Js</a>
    <a href="https://expressjs.com/" target="_blank">Express Js</a>
  </div>
</footer>