<header class="header-sec-wrpr">
  <h1>{{title}}</h1>
  <div class="nav">
    <a href="/">Home</a>
    <a id="about" href="/about">About Us</a>
    <a href="/help">Help & Support</a>
  </div>
</header>